* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-color: #cfcfcf;
}

#canvas {
    border: 2px solid black;
    background-color: aliceblue;
    touch-action: none;
}


canvas {
    display: block;
    background-color: aliceblue;
    border: 2px solid black;
    touch-action: none;
}

#sketchpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-color: rgb(211, 13, 13);
}